<!DOCTYPE html>
<html>
<head>
    <title>Sentiment Analyzer</title>
</head>
<body style="text-align:center; margin-top:100px; font-family:Arial;">

<h2>Sentiment Analysis App</h2>

<textarea id="text" placeholder="Enter your review..." style="width:300px;height:100px;"></textarea><br><br>

<button onclick="analyze()">Analyze</button>

<h3 id="result"></h3>

<script>
async function analyze() {
    const text = document.getElementById("text").value;

    const response = await fetch("/predict", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({ text: text })
    });

    const data = await response.json();

    document.getElementById("result").innerText =
        "Sentiment: " + data.sentiment;
}
</script>

</body>
</html>
